<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewBag.Title</title>

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Css/MainStyle.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body>

    <partial name="Header.cshtml" />
    <!--_________header_____START______-->
    <!--___login__section___ -->
    <div class="register-buttons d-flex align-items-end justify-content-start">

        <div class="group-login mb-5">

            <button class="hover-btn btn-login me-3 border-0 text-white rounded-2">ورود</button>

            <button class="hover-btn btn-register me-3 border-0 text-white rounded-2">ثبت نام</button>

        </div>

    </div>
    <!--___background__headerImg__section__ -->
    <div class="background-header">

        <img src="~/Image/Site/Slider/bg-online.jpg" alt="backgroundImg">
    </div>
    <!--___background__headerImg__section__ -->
    </div>
    <!--_________header_____END______-->
    <!--__________START____THE____TEST____Section_________-->
    <div class="container w-100 d-flex position-relative">
        <div class="img-started">
            <img src="~/Image/Site/Slider/started-pic.jpg" alt="started-pic">
        </div>
        <div class="gettingStartedguide text-end started">
            <h2>آزمون مورد نظر خودت رو راحت تر پیدا کن</h2>
            <h4>روی  دکمه زیر کلیک کن</h4>
            <button class="btn  butn text-white">شروع</button>
        </div>
    </div>

    <!--__________END____THE____TEST____Section_________-->
    <!--________START_____THE____view_____section_______-->

    <div class="container-fluid book my-4">
        <div class="row justify-content-center row-cols-3 row-cols-sm-1">
            <div class="col-12 col-sm-3 d-flex justify-content-center align-items-center div rounded-1 mx-auto ">
                <div class="book-List bg-light rounded-2 p-3">
                    <a href="#"><span class="fa fa-book fnicon"></span></a><br>
                    <h3>لیست کتاب ها</h3>
                </div>
            </div>
            <div class="col-12 col-sm-3 d-flex justify-content-center align-items-center div  rounded-1 mx-auto my-2 my-md-0">
                <div class="sample-question bg-light rounded-2 p-3">
                    <a href="#"><span class="fa fa-file-pdf pdf fnicon"></span></a><br>
                    <h3>لیست نمونه سوالات </h3>
                </div>
            </div>
            <div class="col-12 col-sm-3 d-flex justify-content-center align-items-center div rounded-1 mx-auto ">
                <div class="recent-visit bg-light rounded-2 p-3">
                    <a href="#"><span class="fa fa-signal fnicon"></span></a><br>
                    <h3>بازدید های اخیر</h3>
                </div>
            </div>
        </div>

        <!--________END_____THE____view_____section_______-->
        <!--_______START_________THE________Introduction______section________-->
        <div class="container-fluid my-4">
            <div class="row row-cols-md-2">

                <!--در سایز مدیوم عنصر حذف میشود ولی در سایز گوشی و آی پد قابل نمایش است-->
                <div class="col-12 d-md-none introduction">
                    <img class="rounded-2" src="~/Image/Site/Slider/introduction.jpg" alt="Introduction">
                </div>

                <div class="col-12 col-md-6 introduction-text">
                    <p class="mx-5 mt-5">
                        آزمونک جهت بهینه سازی و صرفه جویی در مصرف بیش از <br>حد کاغذ این بستر را برای شما فراهم آورده است
                        که بدون استفاده از کاغذ یتوانید آزمون های از پیش تعیین شده  خود را در این محیط به سرانجام برسانید
                        و همگی با هم در حفظ محیط زیست کوشا باشیم
                    </p>
                </div>

                <!--در سایز گوشی و آی پد عنصر قیر قابل نمایش است و در سایز مدیوم قابل نمایش میشود-->
                <div class="d-none d-md-block col-md-6 introduction">
                    <img class="rounded-2" src="~/Image/Site/Slider/introduction.jpg" alt="Introduction">
                </div>
            </div>
        </div>

        <!--_______END_________THE________Introduction______section________-->
        <!--_________START________Site____Status____Section_______-->

        <div class="container-fluid">
            <div class="row SiteStatus">
                <div class="col text-center align-self-center">
                    <span class="fa fa-user status-icons userSpan"></span><br>
                    <h4 class="mt-3">1234+</h4>
                </div>
                <div class="col text-center align-self-center">
                    <a href="#"><span class="fa fa-file-pdf-o "></span></a>
                    <h4 class="mt-3">1500+</h4>
                </div>
                <div class="col text-center align-self-center">
                    <a href="#"><span class="fa fa-book-open status-icons"></span></a>
                    <h4 class="mt-3">600+</h4>
                </div>
            </div>
        </div>

        <!--_________END________Site____Status____Section_______-->
        <!--_______START_______THE_______footer_______Section______-->
        <!--______footer_____logo______section________-->
        <div class="container-fluid mt-5">
            <div class="row footer-logo">
                <div class="col Logo-F">
                    <img class="footerLogoImg" src="~/Image/Site/Slider/onlinexam-Logo.jpg" alt="">
                </div>
            </div>
        </div>
        <!--______footer_____logo______section________-->


        <div class="container-fluid">
            <div class="row footer">
                <div class="col-12 col-md-4 position-relative">
                    <h5 class="mt-5 mx-3 text-white">سامانه آزمون یار با پشتیبانی از آزمونک سعی در بهبود بستر های آموزشی آنلاین  دارد</h5>
                    <h4 class="mx-1">آدرس:</h4>
                    <h6 class="mx-4 mt-2"><span class="fa fa-map-marker fa-lg mx-1"></span>تهران,خیابان ولیعصر,کوچه مرتضوی,مرکز آموزشی آزمون یار</h6>
                    <h5 class="mx-3 mt-3 phone d-inline-block"><span class="fa fa-phone fa-lg mx-1"></span>تماس با ما</h5>
                </div>
                <div class="col-12 col-md-4 text-center">
                    <div class="div-line  mt-3"></div>
                    <div class="row footer-uls">
                        <div class="col text-center">
                            <ul>
                                <a href="#">
                                <li class="mt-4 mx-2">آزمون ها</li></a>
                                <a href="#">
                                <li class="mt-4 mx-2">نمونه سوالات</li></a>
                                <a href="#">
                                <li class="mt-4 mx-2">راهنما</li></a>
                            </ul>
                        </div>
                        <div class="col">
                            <ul>
                                <a href="#">
                                <li class="mt-4">سوالات شما </li></a>
                                <a href="#">
                                <li class="mt-4">درباره ما</li></a>
                                <a href="#">
                                <li class="mt-4">کتاب ها</li></a>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <h3 class="mt-5 mx-auto">آدرس شبکه های اجتماعی ما:</h3>
                    <a href="#"><img class="img-sotialNetwork mt-5"src="~/Image/Site/Slider/facebook.jpg" width="100" height="100" alt="facebook"></a>
                    <a href="#"><img class="img-sotialNetwork mx-2 mt-5" src="~/Image/Site/Slider/towetr.jpg" width="100" height="100" alt="facebook"></a>
                    <a href="#"><img class="img-sotialNetwork mt-5" src="~/Image/Site/Slider/instagram.jpg" width="100" height="100" alt="facebook"></a>
                </div>
            </div>
        </div>

    <div>
        @RenderBody()
    </div>

</body>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/minscript.js"></script>
    <script src="~/Js/MainScript.js"></script>
</html>
