 <!--_________END________Site____Status____Section_______-->
    <!--_______START_______THE_______footer_______Section______-->
    <!--______footer_____logo______section________-->
    <div class="container-fluid mt-5">
        <div class="row footer-logo">
            <div class="col Logo-F">
                <img class="footerLogoImg" src="~/Image/Site/Slider/Orange-Logo.png" alt="">
            </div>
        </div>
    </div>
    <!--______footer_____logo______section________-->


    <div class="container-fluid">
        <div class="row footer">
            <div class="col-12 col-md-4 position-relative">
                <h5 class="mt-5 mx-3 text-white">سامانه آزمون یار با پشتیبانی از آزمونک سعی در بهبود بستر های آموزشی آنلاین  دارد</h5>
                <h4 class="mx-1">آدرس:</h4>
                <h6 class="mx-4 mt-2"><span class="fa fa-map-marker fa-lg mx-1"></span>تهران,خیابان ولیعصر,کوچه مرتضوی,مرکز آموزشی آزمون یار</h6>
                <h5 class="mx-3 mt-3 phone d-inline-block"><span class="fa fa-phone fa-lg mx-1"></span>تماس با ما</h5>
            </div>
            <div class="col-12 col-md-4 text-center">
                <div class="div-line  mt-3"></div>
                <div class="row footer-uls">
                    <div class="col text-center">
                        <ul>
                            <a href="#">
                            <li class="mt-4 mx-2">آزمون ها</li></a>
                            <a href="#">
                            <li class="mt-4 mx-2">نمونه سوالات</li></a>
                            <a href="#">
                            <li class="mt-4 mx-2">راهنما</li></a>
                        </ul>
                    </div>
                    <div class="col">
                        <ul>
                            <a href="#">
                            <li class="mt-4">سوالات شما </li></a>
                            <a href="#">
                            <li class="mt-4">درباره ما</li></a>
                            <a href="#">
                            <li class="mt-4">کتاب ها</li></a>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <h3 class="mt-5 me-5">آدرس شبکه های اجتماعی ما:</h3>
            <div class="d-flex justify-content-center gap-4 mt-5 ms-5">
                <a href="#" class="text-decoration-none"><i class="fa fa-instagram fa-2x text-light"></i></a>
                <a href="#" class="text-decoration-none"><i class="fa fa-telegram fa-2x text-light"></i></a>
                <a href="#" class="text-decoration-none"><i class="fa fa-whatsapp fa-2x text-light"></i></a>
            </div>
            </div>
        </div>
    </div>

