
<div class="header">
    <!--_________header_____START______-->
    <!--___login__section___ -->
    <h1 id="text-autoType" class="bg-danger text-AutoType"></h1>
    <div class="register-buttons d-flex align-items-end justify-content-start">
        <div class="group-login mb-5">
            @{
                if (User.Identity.IsAuthenticated)
                {
                    <a asp-controller="profile" asp-action="Index" class="btn hover-btn text-decoration-none btn-login me-3 border-0 text-white rounded-2">ورود</a>
                    <a asp-controller="account" asp-action="register" class=" btn hover-btn text-decoration-none btn-register me-3 border-0 text-white rounded-2">ثبت نام</a>
                }
                else
                {
                    <a asp-controller="account" asp-action="login" class=" btn hover-btn btn-login text-decoration-none me-3 border-0 text-white rounded-2">ورود</a>
                    <a asp-controller="account" asp-action="register" class=" btn hover-btn btn-register text-decoration-none me-3 border-0 text-white rounded-2">ثبت نام</a>
                }
            }


        </div>
    </div>

    <!--___background__headerImg__section__ -->
    <div class="background-header">

        <img src="~/Image/Site/Slider/bg-online.jpg" alt="backgroundImg">
    </div>
    <!--___background__headerImg__section__ -->
</div>
<!--_________header_____END______-->
<!--__________START____THE____TEST____Section_________-->
<div class="container w-100 d-flex position-relative">
    <div class="img-started">
        <img src="~/Image/Site/Slider/started-pic.jpg" alt="started-pic">
    </div>
    <div class="gettingStartedguide text-end started">
        <h2>آزمون مورد نظر خودت رو راحت تر پیدا کن</h2>
        <h4>روی  دکمه زیر کلیک کن</h4>
        @{
            if (User.Identity.IsAuthenticated)
            {
                <a asp-area="" asp-controller="exam" asp-action="showexamgroups" class="btn butn text-white">شروع</a>
            }
            else
            {
                <a asp-area="" asp-controller="account" asp-action="login" class="btn butn text-white">شروع</a>
            }
        }
        @* <a asp-controller="exam" asp-action="ShowExamGroups" class="btn butn text-white">شروع</a> *@
    </div>
</div>


<!--__________END____THE____TEST____Section_________-->
<!--________START_____THE____view_____section_______-->

<div class="container-fluid my-5 p-0 m-0">


    <div class="row row-cols-md-3 w-100 p-0 m-0">

        <div class="col d-flex my-2 justify-content-center p-0 m-0">
            <div class="unveiling-box shadow  p-2">
                <h4>آزمون ها</h4>
                <i class="fa fa-scale fa-file-archive-o fa-2x my-3  pointer"></i>
                <p class="mx-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae fugit aliquid provident?</p>
                @{
                    if (User.Identity.IsAuthenticated)
                    {
                        <a asp-area="" asp-controller="exam" asp-action="showexamgroups" class="btn w-75 btn-orenged mt-2">بیشتر</a>
                    }
                    else
                    {
                        <a asp-area="" asp-controller="account" asp-action="login" class="btn w-75 btn-orenged mt-2">بیشتر</a>
                    }
                }

                @* <a asp-area="" asp-controller="exam" asp-action="showexamgroups" class="btn w-75 btn-orenged mt-2">بیشتر</a> *@
            </div>
        </div>


        <div class="col d-flex my-2 justify-content-center p-0 m-0">
            <div class="unveiling-box shadow p-2">
                <h4>نمونه سوالات</h4>
                <i class="fa fa-scale fa-book fa-2x my-3  pointer"></i>
                <p class="mx-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae fugit aliquid provident?</p>
                <a asp-area="" asp-controller="question" asp-action="ShowExampleGroups" class="btn w-75 btn-orenged mt-2">بیشتر</a>
            </div>
        </div>


        <div class="col d-flex my-2 justify-content-center p-0 m-0">
            <div class="unveiling-box shadow p-2">
                <h4>درباره ما</h4>
                <i class="fa fa-scale fa-bar-chart fa-2x my-3  pointer"></i>
                <p class="mx-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae fugit aliquid provident?</p>
                <button class="btn w-75 btn-orenged mt-2">بیشتر</button>
            </div>
        </div>
    </div>
</div>


<!--________END_____THE____view_____section_______-->
<!--_______START_________THE________Introduction______section________-->
<div class="container-fluid my-4">
    <div class="row row-cols-md-2">


        <!--در سایز مدیوم عنصر حذف میشود ولی در سایز گوشی و آی پد قابل نمایش است-->
        <div class="col-12 d-md-none introduction">
            <img class="rounded-2" src="~/Image/Site/Slider/introduction.jpg" alt="Introduction">
        </div>




        <div class="col-12 col-md-6 introduction-text">
            <p class="mx-5 mt-5">
                آزمونک جهت بهینه سازی و صرفه جویی در مصرف بیش از <br>حد کاغذ این بستر را برای شما فراهم آورده است
                که بدون استفاده از کاغذ بتوانید آزمون های از پیش تعیین شده  خود را در این محیط به سرانجام برسانید
                و همگی با هم در حفظ محیط زیست کوشا باشیم
            </p>
        </div>

        <!--در سایز گوشی و آی پد عنصر قیر قابل نمایش است و در سایز مدیوم قابل نمایش میشود-->
        <div class="d-none d-md-block col-md-6 introduction">
            <img class="rounded-2" src="~/Image/Site/Slider/introduction.jpg" alt="Introduction">
        </div>
    </div>
</div>


<!--_______END_________THE________Introduction______section________-->
<!--_________START________Site____Status____Section_______-->


<div class="container-fluid">
    <div class="row SiteStatus">
        <div class="col text-center align-self-center">
            <a><span class="fa fa-lg status-icons fa-group"></span>تعداد کاربران</a>
            <h4 class="mt-3">@ViewBag.UserCount</h4>
        </div>
        <div class="col text-center align-self-center">
            <a ><span class="fa fa-lg status-icons fa-object-group"></span>تعداد دسته بندی ها</a>
            <h4 class="mt-3">@ViewBag.GroupCount</h4>
        </div>
        <div class="col text-center align-self-center">
            <a><span class=" fa fa-lg fa-book status-icons"></span>تعداد سوالات</a>
            <h4 class="mt-3">@ViewBag.QuestionCount</h4>
        </div>
    </div>
</div>
