


.in-red {
    border: none;
    font-size: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 8px;
    padding-left: 8px;
    border-radius: 6px;
}

.in-green {
    background-color: rgb(11, 182, 11);
    border: none;
    font-size: 22px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 6px;
    border-radius: 6px;
}

.bg-q .q-right .q-left a .in-green, .bg-q .q-right .q-left a .in-red {
    transition: 400ms;
}

    .bg-q .q-right .q-left a .in-green:hover {
        background-color: rgb(23, 79, 0);
    }

    .bg-q .q-right .q-left a .in-red:hover {
        background-color: rgb(104, 0, 0);
    }



@font-face {
    font-family: 'vazir-bold';
    src: url('../fonts/vazir-bold.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --blue: #2a2185;
    --white: #fff;
    --gray: #f5f5f5;
    --blak1: #222;
    --blak2: #999;
}


body {
    font-family: vazir-bold;
    direction: rtl;
}




.admin-containerr {
    min-height: 100vh !important;
    background-color: #2196f3;
}

.list-help-panel {
    width: 100%;
    margin-top: 27px;
}




    .list-help-panel li {
        width: 100% !important;
        padding: 10px;
        margin: 0;
        position: relative;
        margin-top: 20px;
        margin-right:30px;
        list-style-type:none;
    }

    



        .list-help-panel li:hover {
            background-color: var(--white);
            border-bottom-right-radius: 14px;
            border-top-right-radius: 14px;
        }




            .list-help-panel li:hover::before {
                content: '';
                position: absolute;
                left: -4px;
                top: -50px;
                width: 50px;
                height: 50px;
                background-color: transparent;
                border-radius: 50%;
                transform: rotate(90deg);
                box-shadow: 35px 35px 0 10px var(--white);
                pointer-events: none;
            }




            .list-help-panel li:hover::after {
                content: '';
                position: absolute;
                left: -4px;
                bottom: -50px;
                width: 50px;
                height: 50px;
                background-color: transparent;
                border-radius: 50%;
                transform: rotate(-180deg);
                box-shadow: 35px 35px 0 10px var(--white);
                pointer-events: none;
            }




        .list-help-panel li a {
            text-decoration: none;
            display: block;
            padding: 8px;
            color: black;
            margin-right: 4px;
        }




            .list-help-panel li a:hover {
                color: orangered;
            }





.renderBox {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: var(--white)
}




.null {
    min-height: 100vh;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    background-color: var(--white);
}




.panel-help {
    background-color: #2196f3;
}






/* برای بارگذاری سوالات کد های آریا*/

.bg-q {
    border: 2px solid orange;
    background-color: #151515;
    padding: 100px;
    border-radius: 25px;
}

.q-form {
    display: block;
    font-size: 23px;
    color: #f8a145;
}

.q-question {
    color: #D8D9DA;
}

.q-alpha {
    color: #D8D9DA;
}

.q-form input {
    font-size: 15px;
}

.q-right {
    direction: rtl;
}

.q-left {
    direction: ltr;
}

.q-right hr {
    border-color: orange;
}