    /*body {
        font-family: vazir-bold;
        direction:rtl;
    }
    @font-face {
        font-family: 'vazir-bold';
        src: url('../fonts/vazir-bold.ttf') format('truetype');
    }
    .sidebar {
        position: fixed;
        background-color: #04151f;
        min-height: 100svh;
        max-height: 100svh;
        border-radius: 5px;
        top: 0;
        right: 0;
        bottom: 0;
        padding: 5px;   
        direction: rtl;
        transition: 0.5s;
    }

        .sidebar a {
            color: #ebebeb !important;
            margin-top: 3px;
            display: block;
            padding: 5px 2px;
            text-decoration: none;
            transition: 0.5s;
        }


            .sidebar a span {
                color: #f50057;
                margin-left: 3px;
                transition: 0.5s;
            }

            .sidebar a:hover {
                cursor: pointer;
                background-color: #ebebeb;
                color: black !important;
            }
    */










    @font-face {
        font-family: 'vazir-bold';
        src: url('../fonts/vazir-bold.ttf') format('truetype');
    }
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }


    .renderbox {
        position: absolute;
        left: 0;
        width: 1160px;
        height: 100vh;
        border-top: 20px solid var(--blue);
        border-left: 20px solid var(--blue);
        border-bottom: 20px solid var(--blue);
    }

    .exam{

        border-radius:10px;
        height:100%;
        z-index:-2;
    }



    :root {
        --blue: #2a2185;
        --white: #fff;
        --gray: #f5f5f5;
        --blak1: #222;
        --blak2: #999;
    }




    body {
        font-family: vazir-bold;
        direction: rtl;
    }




    .container {
        position: relative;
        width: 100%;
    }




    .navigation {
        position: fixed;
        width: 300px;
        height: 100%;
        right: 0;
        background: var(--blue);
        border-right: 10px solid var(--blue);
        transition: 0.5s;
        overflow: hidden;
        z-index:100;
    
    }




        .navigation ul {
            position: absolute;
            right: 0;
            top: 0;
            width: 100%;
        }




            .navigation ul li {
                position: relative;
                width: 110%;
                list-style: none;
                border-top-right-radius: 30px;
                border-bottom-right-radius: 30px;
                z-index: 87;
            }




                .navigation ul li:hover,
                .navigation ul li.hovered {
                    background-color: var(--white);
                }




                .navigation ul li:nth-child(1) {
                    margin-bottom: 40px;
                    pointer-events: none;
                }




                .navigation ul li a {
                    position: relative;
                    display: block;
                    width: 100%;
                    padding-right: 16px;
                    display: flex;
                    text-decoration: none;
                    color: var(--white);
                }




                .navigation ul li:hover a,
                .navigation ul li.hovered a {
                    color: var(--blue);
                }




                .navigation ul li a .icon {
                    position: relative;
                    display: block;
                    line-height: 68px;
                    text-align: center;
                }




                .navigation ul li a .icons {
                    font-size: 1.3rem;
                }




                .navigation ul li a .title {
                    position: relative;
                    display: block;
                    padding: 0 10px;
                    line-height: 60px;
                    text-align: start;
                    white-space: nowrap;
                }




                .navigation ul li:hover a::before,
                .navigation ul li.hovered a::before {
                    content: '';
                    position: absolute;
                    left: -8px;
                    top: -50px;
                    width: 50px;
                    height: 50px;
                    background-color: transparent;
                    border-radius: 50%;
                    transform: rotate(90deg);
                    box-shadow: 35px 35px 0 10px var(--white);
                    pointer-events: none;
                }




                .navigation ul li:hover a::after,
                .navigation ul li.hovered a::after {
                    content: '';
                    position: absolute;
                    left: -8px;
                    bottom: -50px;
                    width: 50px;
                    height: 50px;
                    background-color: transparent;
                    border-radius: 50%;
                    transform: rotate(-180deg);
                    box-shadow: 35px 35px 0 10px var(--white);
                    pointer-events: none;
                    z-index: 88;
                }











                /*برای خودم*/

.col-div-4-1 {
    width: 33.3%;
    float: left;
}

.box {
    width: 88%;
    height: 130px;
    background-color: #e3e3e3;
    margin-left: 10px;
    padding: 10px;
    box-shadow: 2px 5px 10px #ddd;
    position: relative;
    border-radius: 15px;
}

    .box p {
        color: #348f6c;
        font-weight: 500;
        padding-left: 10px;
    }





/* برای بارگذاری سوالات کد های آریا*/

.bg-q {
    border: 2px solid orange;
    background-color: #151515;
    padding: 100px;
    border-radius: 25px;
}

.q-form {
    display: block;
    font-size: 23px;
    color: #f8a145;
}

.q-question {
    color: #D8D9DA;
}

.q-alpha {
    color: #D8D9DA;
}

.q-form input {
    font-size: 15px;
}

.q-right {
    direction: rtl;
}

.q-left {
    direction: ltr;
}

.q-right hr {
    border-color: orange;
}

.in-red {
    border: none;
    font-size: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 8px;
    padding-left: 8px;
    border-radius: 6px;
}

.in-green {
    background-color: rgb(11, 182, 11);
    border: none;
    font-size: 22px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 6px;
    border-radius: 6px;
}

.bg-q .q-right .q-left a .in-green, .bg-q .q-right .q-left a .in-red {
    transition: 400ms;
}

    .bg-q .q-right .q-left a .in-green:hover {
        background-color: rgb(23, 79, 0);
    }

    .bg-q .q-right .q-left a .in-red:hover {
        background-color: rgb(104, 0, 0);
    }