@model IEnumerable<Azmoonak.Database.Models.Group>

@foreach (var item in Model)
{
    @*میخواهیم گروه هارا به صورت ردیف سه تایی نمایش دهد در باکس های مختلف*@

    <li><a asp-area="" asp-controller="exam" asp-action="StartExam" asp-route-id="@item.Id">@item.GroupName</a></li>
}
