@model Azmoonak.Core.ViewModels.GroupQuestionViewModel

@{
    ViewData["Title"] = "Show Exam Groups | نمایش دسته بندی سوالات";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div>
    <partial name="Examgroupspartial.cshtml" model="@Model.Groups" />
</div>


