@model Azmoonak.Core.ViewModels.GroupQuestionViewModel

@{
    ViewData["Title"] = "Start Exam | شروع آزمون";
    Layout = "~/Views/Shared/_ExamLayout.cshtml";
}


<div>
    <partial name="QuestionPartial.cshtml" model="@Model.Questions" />
</div>
