@model IEnumerable<Azmoonak.Database.Models.Group>

@foreach (var item in Model)
{
    <li><a asp-area="" asp-controller="question" asp-action="question" asp-route-id="@item.Id">@item.GroupName</a></li>
}
