@model Azmoonak.Core.ViewModels.GroupQuestionViewModel

@{
    ViewData["Title"] = "Group Question | نمونه سوالات";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<div>
    <partial name="QuestionPartial.cshtml" model="@Model.Questions" />
</div>
