@model Azmoonak.Core.ViewModels.RegisterViewModel

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="account-form col-md-4 col-sm-6 col-11 mt-5">
    <form asp-controller="account" asp-action="register">
        <h1>Register</h1>
        <hr class="w-75" />
        <div asp-validation-summary="ModelOnly" class="text-warning"></div>
        <div class="form-group">
            <label asp-for="Mobile" class="control-label"></label>
            <input asp-for="Mobile" class="form-control" />
            <span asp-validation-for="Mobile" class="text-warning"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-warning"></span>
        </div>
        <div class="form-group">
            <label asp-for="RePassword" class="control-label"></label>
            <input asp-for="RePassword" class="form-control" />
            <span asp-validation-for="RePassword" class="text-warning"></span>
        </div>
        <div class="form-group">
            <button type="submit" class="form-control">register</button>
            <hr class="w-75" />
            <a asp-action="login"><span class="fa fa-user-plus"></span>Login</a>
        </div>
    </form>
</div>


