<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewBag.Title</title>

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/PanelStyle.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid  pt-4 pb-4 ps-4 admin-containerr">
        <div class="row w-100">
            <div class="col-2 panel-help p-0 m-0">
                <ul class="w-100 list-help-panel">

                    <li>
                        <a asp-area="" asp-controller="home" asp-action="index">
                            <span class="icons">
                                <i class="fa fa-home fa-lg icons"></i>
                            </span>
                            <span class="title">خانه</span>
                        </a>
                    </li>
                    <li>
                        <a asp-area="admin" asp-controller="panel" asp-action="index">
                            <span class="icons">
                                <i class="fa fa-dashboard fa-lg"></i>
                            </span>
                            <span class="title">داشبورد</span>
                        </a>
                    </li>
                    <li>
                        <a asp-area="admin" asp-controller="panel" asp-action="SiteDetail">
                            <span class="icons">
                                <i class="fa fa-signal fa-lg"></i>
                            </span>
                            <span class="title">جزئیات سایت</span>
                        </a>
                    </li>
                    <li>
                        <a asp-area="admin" asp-controller="panel" asp-action="GetUsers">
                            <span class="icons">
                                <i class="fa fa-users fa-lg"></i>
                            </span>
                            <span class="title">کاربران</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Groups" asp-action="Index">
                            <span class="icons">
                                <i class="fa fa-list fa-lg" class="fa fa-list fa-lg"></i>
                            </span>
                            <span class="title">دسته بندی ها</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="questions" asp-action="index">
                            <span class="icons">
                                <i class="fa fa-book fa-lg"></i>
                            </span>
                            <span class="title">سوالات</span>
                        </a>
                    </li>
                    @* <li>
                        <a href="#">
                            <span class="icons">
                                <i class="fa fa-gears fa-lg"></i>
                            </span>
                            <span class="title">تنظیمات</span>
                        </a>
                    </li> *@
                    <li>
                        <a asp-area="" asp-controller="account" asp-action="logout">
                            <span class="icons">
                                <i class="fa fa-sign-out fa-lg"></i>
                            </span>
                            <span class="title">خروج</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-1 renderBox"></div>
            <div class="col-9 null">
                @RenderBody()
            </div>
        </div>
    </div>

</body>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/js/minscript.js"></script>
<script src="~/Js/PanelScript.js"></script>
</html>
