@model Azmoonak.Database.Models.Question

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_PanelLayout.cshtml";
}

<h1 class="text-center">Create | افرودن سوال جدید</h1>




<hr />
<div class="row">

    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="QText" class="control-label"></label>
                <input asp-for="QText" class="form-control border-black border-4" />
                <span asp-validation-for="QText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnOne" class="control-label pt-3"></label>
                <input asp-for="AnOne" class="form-control border-black border-4" />
                <span asp-validation-for="AnOne" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnTwo" class="control-label pt-3"></label>
                <input asp-for="AnTwo" class="form-control border-black border-4" />
                <span asp-validation-for="AnTwo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnThree" class="control-label pt-3"></label>
                <input asp-for="AnThree" class="form-control border-black border-4" />
                <span asp-validation-for="AnThree" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnFour" class="control-label pt-3"></label>
                <input asp-for="AnFour" class="form-control border-black border-4" />
                <span asp-validation-for="AnFour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CorrectAn" class="control-label pt-3"></label>
                <span class="fa fa-lg fa-check-circle-o" style="color:green;"></span>
                <input asp-for="CorrectAn" class="form-control border-black bg-success border-4" />
                <span asp-validation-for="CorrectAn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GroupId" class="control-label pt-3 "></label>
                <select asp-for="GroupId" class="form-control border-black bg-warning border-4" asp-items="ViewBag.GroupId"><option selected disabled>---انتخاب گروه---</option></select>
            </div>
            <div class="form-group">
                <input type="submit" value="ثبت" class="btn btn-success mt-3" />
            </div>
        </form>
    </div>
</div>


<div dir="ltr">
    <a asp-action="Index" class=" btn btn-danger ">بازگشت <span class="fa fa-angle-double-right fa-lg"></span></a>
</div>
