@model Azmoonak.Database.Models.Group

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_PanelLayout.cshtml";
}


<div class="col-div-4-1">
    <div class="col-4   ">
        <h3>تعداد سوالات از گروه :</h3>
        <select asp-for="Id" class="form-control border-black bg-warning border-4" asp-items="ViewBag.GroupId" ><option selected disabled>---Select Group---</option></select>
        <h3>@ViewBag.QuestionCount</h3>
    </div>
</div>

